@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

.btn {
    margin: 10px;
    width: auto;
    height: auto;
    border: 2px solid #35393c;
    border-radius: 6px;
    box-shadow: 5px 5px rgba(68, 68, 68, 0.2);
    cursor: pointer;
    font-size: small;
    font-weight: 600;
    padding: 10px 10px;
}

.btn span {
    font-size: large;
}

.reset {
    color: #fff;
    background: #798085;
    width: 220px;
}

.btn1 {
    color: #d6d6d6;
    background: #1c8769;
}

.btn2 {
    color: #d6d6d6;
    background: #ab4936;
}

.btn1:hover {
    background: #135f49;
}

.btn2:hover {
    background: #893b2b;
}

.reset:hover {
    background: rgb(54, 54, 54);
}

.Component {
    color: #fff;
    background: #4a5054;
    border-radius: 12px;
    margin: 10% 25% 10% 25%;
    padding: 2%;
    font-family: 'JetBrains Mono', monospace;
    box-shadow: 0 0 50px 15px #484444;
    border: 2px solid #fff;
}

.resetNote {
    margin: auto;
}

.toggle-container {
    /* display: flex; */
    align-items: center;
    margin: 5px 0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-right: 10px;

}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ab4936;
    border: 1px solid #35393c;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background: #1c8769;

}

input:checked+.slider:before {
    transform: translateX(24px);
    /* transform: translateY(0px); */

}